[Unit]
Description=Netwerkfix-sysprep

[Service]
#ExecStartPre=
ExecStart=/etc/sysprep/update-tools.sh
SyslogIdentifier=Diskutilization
#ExecStop=

[Install]
WantedBy=multi-user.target
